[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
[pull]
	rebase = true
[merge]
	conflictstyle = zdiff3
[user]
	name = Logan-Rohlfs
	email = loganrohlfs76@gmail.com
